@model DoAnASP.Areas.Admin.Models.CauHoi

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tiêu Đề
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TieuDe)
        </dd>
        <dt class="col-sm-2">
            Hình Ảnh
        </dt>
        <dd class="col-sm-10">
            <img src="~/cauhoi/@Html.DisplayFor(model => model.HinhAnh)" />
        </dd>
        <dt class="col-sm-2">
            Tóm Tắt
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TomTat)
        </dd>
        <dt class="col-sm-2">
            Nội Dung
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class="col-sm-2">
            Loại
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.loai.IDLoai)
        </dd>
        <dt class="col-sm-2">
            Người Tạo
        </dt>

        <dd class="col-sm-10">
            @foreach (var item1 in ViewBag.tentk)
            {
                @if (Model.IDNguoiTao == item1.IDTK)
                {
                    @item1.Ten;
                }
            }

        </dd>
        <dt class="col-sm-2">
            Ngày Tạo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class="col-sm-2">
            Ngày Duyệt
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgayDuyet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.View)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.View)
        </dd>
        <dt class="col-sm-2">
            Người Duyệt
        </dt>
        @foreach (var item1 in ViewBag.tentk)
        {
            @if (Model.IDNguoiDuyet == item1.IDTK)
            {
                @item1.Ten;
            }
        }
        <dt class="col-sm-2">
            Trạng Thái
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-action="Index">Back to List</a>
</div>
