@model IEnumerable<DoAnASP.Areas.Admin.Models.Loai>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<p>
    <a asp-action="Create"> New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tiêu Đề
            </th>
            <th>
                Ngày Tạo
            </th>
            <th>
              Người Tạo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @foreach (var item1 in ViewBag.tentk)
                {
                    @if (item.IDNguoiTao == item1.IDTK)
                    {
                        @item1.Ten;
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDLoai">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDLoai">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDLoai">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
