@model IEnumerable<DoAnASP.Areas.Admin.Models.CauHoi>



@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<main>
    <!-- Slider Area Start-->
    <div class="slider-area slider-bg ">
        <!-- Single Slider -->
        <div class="single-slider d-flex align-items-center slider-height3">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8 col-lg-9 col-md-12 ">
                        <div class="hero__caption hero__caption3 text-center">
                            <h1 data-animation="fadeInLeft" data-delay=".6s ">CAUHOI</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Shape -->
        <div class="slider-shape d-none d-lg-block">
            <img class="slider-shape1" src="~/assets/img/hero/top-left-shape.png" alt="">
        </div>
    </div>
    <!-- Slider Area End -->
    <!-- Hero Area End-->
    <!--? Blog Area Start-->
    
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            @foreach (var item in Model)
                            {
                              
                                @if (item.TrangThai != 3&&item.IDNguoiTao.ToString()==ViewBag.IDName)
                                {
                                    <h5>Không có câu hỏi đã xóa</h5>
                                    break;
                                }
                            }
                            @foreach (var item in Model)
                                {
                                    @if (item.TrangThai == 3 && item.IDNguoiTao.ToString() == ViewBag.IDName)
                                    {
                                        @if (item.HinhAnh != null)
                                        {
                                            <div class="blog_item_img">
                                                <img class="card-img rounded-0" src="~/cauhoi/@item.HinhAnh" style="width : 300px;">
                                                <a asp-action="Details" asp-route-id="@item.IDBlog" asp-controller="CauHois" class="blog_item_date">
                                                    <h3>@item.NgayTao</h3>
                                                    <p></p>
                                                </a>
                                            </div>
                                        }
                                        <div class="blog_details">
                                            <a class="d-inline-block" asp-action="Details" asp-route-id="@item.IDBlog" asp-controller="CauHois">
                                                <h2 class="blog-head" style="color: #2d2d2d;">@item.TieuDe</h2>
                                            </a>
                                            <p>
                                                @item.TomTat
                                            </p>
                                            <ul class="blog-info-link">

                                                <li><a href="#"><i class="fa fa-eye"></i> @item.View</a></li>


                                                @if (item.IDNguoiTao.ToString() == ViewBag.IDName)
                                                {
                                                    <li>

                                                        <span><a asp-action="hoangtac" asp-controller="CauHois" asp-route-id="@item.IDBlog"> <i class="fa fa-undo"></i> Hoàng Tác câu hỏi </a></span>



                                                    </li>
                                                    <li>
                                                        <span><a asp-action="Edit" asp-route-id="@item.IDBlog"> <i class="fa fa-edit"></i> Sửa câu hỏi </a></span>



                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }

                                }

                            </article>

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form form asp-controller="CauHois" asp-action="timkim" method="get">
                                <div class="form-group">
                                    <div class="input-group mb-3">

                                        <input type="text" name="SearchString" class="form-control" placeholder='Search Keyword' />


                                        <div class="input-group-append">
                                            <button class="btns" type="submit"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </aside>

                        @await Html.PartialAsync("_Loai")
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Blog Area End -->
</main>


@if (ViewBag.IDName != null)
{
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">create new</h4>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label name="TieuDe" class="control-label">Tiêu đề</label><br />
                            <input name="TieuDe" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label name="HinhAnh" class="control-label">Hình ảnh</label><br />
                            <input type="file" name="ful" name="HinhAnh" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label name="TomTat" class="control-label">Tóm tắt</label><br />
                            <input name="TomTat" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label name="NoiDung" class="control-label">Nội dung</label><br />
                            <input name="NoiDung" class="form-control" />

                        </div>

                        <div class="form-group">
                            <label name="IDLoai" class="control-label">Loai cau hoi</label><br />
                            <select name="IDLoai" class="form-control" asp-items="ViewBag.IDLoai"></select>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="IDNguoiTao" value="@ViewBag.IDName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

