@model IEnumerable<DoAnASP.Areas.Admin.Models.Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="content">
        <p>
            <div class="search_box">

                <form asp-controller="Blogs" asp-action="timkim" method="get">
                    <input type="text" name="SearchString" class="text-box" placeholder="Search for Blog"><input type="submit" value="">
                </form>
            </div>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="new">Creat new blog </button>
            @if (ViewBag.IDName == null)
            {
                <script language="javascript">
                    var button = document.getElementById("new");
                    button.onclick = function () {
                        alert("Bạn chư đăng nhập");
                    }
                </script>
            }
        </p>
        @foreach (var item in Model)
        {
            @if (item.TrangThai == 2)
            {
                <div class="box1">
                    <div>
                        <h2>@item.TieuDe</h2>
                        <a asp-action="Details" asp-route-id="@item.IDBlog"><img src="~/blog/@item.HinhAnh" width="100" hight="100px"></a>
                        <h5>
                            @item.TomTat
                        </h5>
                    </div>
                    <div class="data">
                        @if (ViewBag.TaiKhoan != null)
                        {
                            @foreach (var item1 in ViewBag.TaiKhoan)
                            {
                                @if (item.IDNguoiTao == item1.IDTK)
                                {
                                    <h5>Tài khoản: @item1.Ten</h5>
                                }
                            }
                        }
                        @if (item.IDNguoiTao.ToString() == ViewBag.IDName)
                        {
                            <span>
                                <a  asp-action="Edit" asp-route-id="@item.IDBlog">Sửa bài viết </a>
                            </span>
                        }
                        <span><a asp-action="Details" asp-route-id="@item.IDBlog">Continue reading &gt;&gt;&gt; </a></span>
                        <span style="float:right">View: @item.View</span>
                    </div>
                </div>
            }
        }
    </div>
    <div class="page_links">
        <div class="sidebar">
            <div class="sidebar_top">
                <h3>Blog Categories</h3>
                <div class="sidebar_top_list">
                    @foreach (var item in ViewBag.Loai)
                    {
                        <ul>
                            <li><a asp-action="Index" asp-controller="Loais"><span class="category-name">@item.TieuDe</span> <div class="clear"></div></a></li>

                        </ul>
                    }
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="page_bottom">
            <p>Back To : <a href="#">Top</a> |  <a href="#">Home</a></p>
        </div>
    </div>
</div>
@if (ViewBag.IDName != null)
{
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">create new</h4>

                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label name="TieuDe" class="control-label">Tiêu đề</label><br />
                            <input name="TieuDe" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label name="HinhAnh" class="control-label">Hình ảnh</label><br />
                            <input type="file" name="ful" name="HinhAnh" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label name="TomTat" class="control-label">Tóm tắt</label><br />
                            <input name="TomTat" class="form-control" />

                        </div>
                        <div class="form-group">
                            <label name="NoiDung" class="control-label">Nội dung</label><br />
                            <input name="NoiDung" class="form-control" />

                        </div>

                        <div class="form-group">
                            <label name="IDLoai" class="control-label">Loai bài viết</label><br />
                            <select name="IDLoai" class="form-control" asp-items="ViewBag.IDLoai"></select>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="IDNguoiTao" value="@ViewBag.IDName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

